:root {
    --primary-red: #ef4444;
    --primary-green: #10b981;
    --primary-blue: #3b82f6;
    --primary-purple: #7c3aed;

    --light-red: #f87171;
    --light-green: #34d399;
    --light-blue: #60a5fa;
    --light-purple: #a78bfa;

    /* --faint-red: #fecaca;
    --faint-green: #a7f3d0;
    --faint-blue: #bfdbfe;
    --faint-purple: #ddd6fe; */

    --white: #ffffff;
    --gray: #d1d5db;
    --dark-gray: #6b7280;

    --dark-background: #1f2937;

    --yellow: #fbbf24;
  
    --shadow: 0 3px 5px 2px #1f2937;
}
