:root {
    --primary-red: #ef4444;
    --primary-green: #10b981;
    --primary-blue: #3b82f6;
    --primary-purple: #7c3aed;

    --light-red: #f87171;
    --light-green: #34d399;
    --light-blue: #60a5fa;
    --light-purple: #a78bfa;

    --faint-red: #fecaca;
    --faint-green: #a7f3d0;
    --faint-blue: #bfdbfe;
    --faint-purple: #ddd6fe;

    --white: #ffffff;
    --gray: #d1d5db;
    --dark-gray: #6b7280;
    --black: #121212;

    --dark-background: #1f2937;

    --yellow: #fbbf24;

    --shadow: 0 3px 5px 2px #1f2937;
    --dark-green: #388e3c;

    --fs-h1: 4.8rem;
    --fs-h2: 3.2rem;
    --fs-h3: 2.4rem;
    --fs-h4: 2rem;
    --fs-h5: 1.8rem;
    --fs-h6: 1.6rem;
    --fs-sm: 1.4rem;
    --fs-xsm: 1.2rem;

    --fw-extralight: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;

    --gray-shadow: 0 2px 5px 0px #323232a1;
}
