html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.text-heading {
    font-size: var(--fs-h1);
    line-height: 6.4rem;
}

.text-xhuge {
    font-size: var(--fs-h2);
    line-height: 4rem;
}

.text-huge {
    font-size: var(--fs-h3);
    line-height: 3.2rem;
}

.text-xlg {
    font-size: var(--fs-h4);
    line-height: 2.6rem;
}

.text-lg {
    font-size: var(--fs-h5);
    line-height: 2.4rem;
}

.text-md {
    font-size: var(--fs-h6);
    line-height: 2rem;
}

.text-sm {
    font-size: var(--fs-sm);
    line-height: 1.8rem;
}
.text-xsm {
    font-size: var(--fs-xsm);
    line-height: 1.6rem;
}

.font-extralight {
    font-weight: var(--fw-extralight);
}

.font-light {
    font-weight: var(--fw-light);
}

.font-regular {
    font-weight: var(--fw-regular);
}

.font-semibold {
    font-weight: var(--fw-semibold);
}

.font-bold {
    font-weight: var(--fw-bold);
}
