.avatar {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.avatar img {
    border-radius: 50%;
    aspect-ratio: 1;
}

.avatar.sm {
    width: 3rem;
    height: 3rem;
}

.avatar.lg {
    width: 6rem;
    height: 6rem;
}

.avatar.offline::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--dark-gray);
    border: 2px solid var(--white);
}

.avatar.online::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--primary-green);
    border: 2px solid var(--white);
}

.avatar.away::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--warning);
    border: 2px solid var(--white);
}