.btn {
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.75em 1em;
    margin: 0.2em;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    background-color: var(--gray);
}

.bg-green {
    background-color: var(--primary-green);
    color: var(--white);
}

.bg-green:hover {
    background-color: var(--light-green);
}

.bg-blue {
    background-color: var(--primary-blue);
    color: var(--white);
}

.bg-blue:hover {
    background-color: var(--light-blue);
}

.bg-red {
    background-color: var(--primary-red);
    color: var(--white);
}

.bg-red:hover {
    background-color: var(--light-red);
}

.bg-purple {
    background-color: var(--primary-purple);
    color: var(--white);
}

.bg-purple:hover {
    background-color: var(--light-purple);
}

.bd-blue {
    font-weight: bold;
    border-color: var(--primary-blue);
    background-color: var(--white);
    color: var(--primary-blue);
}

.bd-blue:hover {
    background-color: var(--primary-blue);
    color: var(--white);
}

.bd-green {
    font-weight: bold;
    border-color: var(--primary-green);
    background-color: var(--white);
    color: var(--primary-green);
}

.bd-green:hover {
    background-color: var(--primary-green);
    color: var(--white);
}

.bd-red {
    font-weight: bold;
    border-color: var(--primary-red);
    background-color: var(--white);
    color: var(--primary-red);
}

.bd-red:hover {
    background-color: var(--primary-red);
    color: var(--white);
}

.bd-purple {
    font-weight: bold;
    border-color: var(--primary-purple);
    background-color: var(--white);
    color: var(--primary-purple);
}

.bd-purple:hover {
    background-color: var(--primary-purple);
    color: var(--white);
}

.btn:disabled {
    cursor: not-allowed;
    background-color: var(--gray);
    color: var(--dark-gray);
}

.btn.rounded-slight {
    border-radius: 5px;
}

.btn.rounded {
    border-radius: 10px;
}

.btn.capsule {
    border-radius: 100px;
}

.btn.float {
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn.icon {
    font-size: 2rem;
    padding: 0.4em 0.6em;
}
