.card {
    position: relative;
    width: 30rem;
    margin: 1rem;
    overflow: hidden;
}

.card.shadow {
    box-shadow: var(--shadow);
}

.card.rounded {
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.card-body p {
    margin: 2rem 0;
}

.card-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.card .icon {
    font-size: 2.5rem;
    padding-left: 1.5rem;
}

.card .icon:hover {
    color: var(--primary-red);
    cursor: pointer;
}

.card .tag {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 50px;
    color: white;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: inherit;
    background-color: var(--primary-green);
    margin-bottom: 1rem;
}

.card .user-info {
    display: flex;
}

.card .avatar {
    margin: 0 1rem 0 0;
    width: 5rem;
    height: 5rem;
}

.card small {
    color: var(--dark-gray);
    font-size: 1.4rem;
}

.card .btn {
    width: 100%;
    margin: 0.5rem auto 0;
}

.card .price {
    margin-bottom: 1rem;
}

.price .discount-price {
    font-size: 2rem;
    font-weight: bold;
}

.price .original-price {
    font-size: 1.6rem;
    text-decoration: line-through;
}

.price .offer {
    font-size: 1.6rem;
    color: var(--dark-green);
    font-weight: bold;
}

.icon-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card .badge {
    position: absolute;
    background-color: var(--yellow);
    padding: 0.5rem 1rem;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    color: var(--white);
    min-width: 12rem;
    top: -2px;
    left: -2px;
}

.icon.wishlist {
    color: var(--gray);
}

.card-horizontal {
    min-width: 40rem;
    width: 48rem;
    min-height: 20rem;
}
