.grid {
    display: grid;
    gap: 1rem;
}

.grid-col2 {
    grid-template-columns: 1fr 1fr;
}

.grid-sidebar-content {
    grid-template-columns: 1fr 4fr;
}

.grid-col3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-sidebar-content-sidebar {
    grid-template-columns: 1fr 3fr 1fr;
}
