/* Top Navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    box-shadow: var(--gray-shadow);
    min-height: 10rem;
}

.nav a {
    color: var(--black);
}

.nav .brand {
    display: inline-flex;
    align-items: center;
}

.nav .brand-name {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    margin-left: 1rem;
}

.nav .nav-link-container {
    display: inline-flex;
}

.nav .nav-link {
    margin-right: 2rem;
    font-size: var(--fs-h3);
}

.nav.fix-top {
    position: fixed;
    top: 0;
    left: 0;
}

/* Aside Navigation */
.aside-nav {
    position: sticky;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
    width: 20rem;
    padding: 2rem 0;
    max-height: 100vh;
    border-right: 1px solid var(--dark-gray);
    overflow-y: scroll;
    flex-shrink: 0;
}

.aside-nav .nav-heading,
.aside-nav .nav-link {
    padding: 1rem 2rem;
}

.aside-nav .nav-link {
    cursor: pointer;
}

.aside-nav .nav-link:hover {
    background-color: var(--gray);
}

.nav-link a {
    color: var(--black);
    font-weight: var(--fw-semibold);
}

.active {
    background-color: var(--gray);
}

.active a{
    font-weight: var(--fw-bold);
}
